{% extends 'layout.html.twig' %}

{% block content %} 
    <h1>A Propos</h1>
    
    <p>Bienvenue dans le Site Nissa Bio & Nat. 
        Nissa signifie femmes en arabe. Bio & Nat signifient Biologique et Naturelle. 
        Ainsi cette marque se veut dispensatrice de produits 100% naturels pour le public féminin. 
        Les produits réunissant les "secrets de beauté des femmes du monde" sont faits maison et respecte l'environnement:
    <p>- les produits sont livrés dans des emballages ou bocaux recyclés,</p>
    <p>- de plus en plus de produits sont fabriqués en matière solide.</p>
        Diverses types de plantes en provenance d'Inde et de Chine sont utilisés dans la conception des soins:
    <p>- le karité d'Afrique, l'huile du maghreb et d'Amérique latine.</p>
        On note aussi l'utilisation des matières premières françaises.
        Pour toutes questions, veuillez contactez Aida BOUZAMMITA, la gérante et créatrice de la marque :
        <p>bouzammitaaida@hotmail.fr</p>
        Excellente visite sur le site!</p>
{% endblock %} 