{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Selected Product</h1>
    {{ product.name }}
    {{ product.price }}
    {{ product.photo }}
    {{ product.description }}
    
{% endblock content %}