{% extends '::layout.html.twig' %}
<div>
    <a href="{{ path('homepage') }}"><img src="#" alt="#"></a>
    <a href="{{ path('homepage') }}"><img src="#" alt="#"></a>
    <a href="{{ path('homepage') }}"><img src="#" alt="#"></a>
    <a href="{{ path('homepage') }}"><img src="#" alt="#"></a>
</div>
<div>
<p>Copyright 2017 - Nissa Bio & Nat</p>
</div>
