<header>
    <section>
    <ul>
        <li><a href="{{ path('fos_user_profile_show') }}">Votre compte</a></li>
        <li><a href="{{ path('home_index') }}">Vos achats</a></li>
    <ul>
        </section>
    <section>
    <h1>Welcome to NissaBio&Nat: boutique en ligne de produits cosmetiques 100% naturels!</h1>
    </section>
    <section>
    <img src="#" alt="#">
    </section>
</header>
