{% extends 'layout.html.twig' %}

{% block content %} 
    <h1>Products list</h1>
    
    {% for product in products %}
        <section class="col-md-4 centered">
            {{ product.name }}
            {{ product.description }}
            {{ product.price }}
            <img src="{{ product.photo }}" width="200px" class="img-fluid img-responsive" alt="photo" />
        </section>
    {% endfor %}
    
{% endblock %}