{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Rack</h1>
    {% for command in commands %}
    <tr>
        <td>{{ command.attribut}}</td>
        <td>{{ command.datecommand }}</td>
        <td>{{ command.numbercommand }}</td>
        <td>{{ command.cart }}</td>
        // boucle affichant éléments
    </tr>
    {% endfor %}
{% endblock %}