{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Command successfully!</h1>
    <li><a href="{# path('command_success', { 'id':'customer.id'})#}">Success of your Command</a></li>

  
{% endblock content %}
