body {
    margin: 0px;
    background-color: gray;
}

header {
    margin: 0px;
    background-color: green;
}

footer {
    margin: 0px;
    background-color: orange;
}

nav {
    margin: 0px;
    background-color: blue;
}
